@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Guy Duval</h1>
    <p class="lead">Bienvenue sur Guy Duval, photographe immobilier HDR!</p>
    <img src="/Images/maison.png" class="img-responsive"/>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Demande de rendez-vous!</h2>
        <p>
            Pour pouvoir bénificier pleinement des photographie HDR, veuillez faire une demande d'un rendez-vous avec nous pour pouvoir vous planifier une séance photo avec un do nos expert en photographie!
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Create","Seances")">Demande Rendez-Vous &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Panorama</h2>
        <p>A faire.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Apprendre d'avantage &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Visite virtuel</h2>
        <p>3D</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Apprendre d'avantage &raquo;</a></p>
    </div>
</div>