@model H15_Projet_E01.Models.Facture

@{
    ViewBag.Title = "Facture";
}

<h2>Facture</h2>

<div>
    <h4>Facture de la seance #@ViewBag.seance.SeanceID</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Forfait
        </dt>
     
        <dd>
            @foreach (var forfait in ViewBag.Forfait)
            {
                if (@ViewBag.seance.Facture.ForfaitID == forfait.ForfaitID)
                {
                    @forfait.Nom
                }
            }
        </dd>

        <dt>
            Total
        </dt>

        <dd>
            @ViewBag.seance.Facture.Total $  Taxes incluses
        </dd>

    </dl>
</div>
<p>   
    @Html.ActionLink("Retour à la liste", "Index")
</p>
